USE [master]
GO
/****** Object:  Database [shop_security_db]    Script Date: 9/22/2026 12:34:50 AM ******/
CREATE DATABASE [shop_security_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shop_security_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\shop_security_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shop_security_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\shop_security_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shop_security_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shop_security_db]
GO
/****** Object:  Table [dbo].[otp_tokens]    Script Date: 9/22/2026 12:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[attempts] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[otp_hash] [varchar](100) NOT NULL,
	[type] [varchar](30) NOT NULL,
	[used] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 9/22/2026 12:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[description] [nvarchar](500) NULL,
	[image_url] [varchar](1000) NULL,
	[name] [nvarchar](500) NULL,
	[price] [numeric](18, 2) NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 9/22/2026 12:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/22/2026 12:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[enabled] [bit] NOT NULL,
	[full_name] [nvarchar](500) NULL,
	[password] [varchar](255) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[role_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[otp_tokens] ON 

INSERT [dbo].[otp_tokens] ([id], [attempts], [created_at], [email], [expires_at], [otp_hash], [type], [used]) VALUES (8, 1, CAST(N'2026-09-21T23:59:55.4076854' AS DateTime2), N'thucyent09@gmail.com', CAST(N'2026-09-22T00:04:55.4076854' AS DateTime2), N'$2a$10$QmKGLgVM6ZTN77NFyqKiQ.EiuywoVC0iN.Z7ZsDvfSdibwNC6ivwi', N'REGISTER', 1)
INSERT [dbo].[otp_tokens] ([id], [attempts], [created_at], [email], [expires_at], [otp_hash], [type], [used]) VALUES (9, 1, CAST(N'2026-09-22T00:23:40.1711372' AS DateTime2), N'geroolyhuicy@gmail.com', CAST(N'2026-09-22T00:28:40.1711372' AS DateTime2), N'$2a$10$vCljst6x4FmjPGby2fKcMuLA0ak4gpsdyKYDodgzWKqtCVAwn6j5K', N'REGISTER', 1)
SET IDENTITY_INSERT [dbo].[otp_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [created_at], [description], [image_url], [name], [price], [user_id]) VALUES (1, CAST(N'2026-09-22T00:06:04.7483019' AS DateTime2), N'ko', N'https://res.cloudinary.com/gnht4fer/image/upload/v1790010389/shop/products/ekmdn1zbdmn6frisrttj.png|shop/products/ekmdn1zbdmn6frisrttj', N'Nguyễn Thức', CAST(999999.00 AS Numeric(18, 2)), 8)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'ROLE_USER')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'ROLE_ADMIN')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [enabled], [full_name], [password], [username], [role_id]) VALUES (8, N'thucyent09@gmail.com', 1, N'Nguyen Trong Thuc ', N'$2a$10$1T95B0GqLzV27/lEYTbo5exVvuwdDLsun5VoXlKGiO0vys4pc7EZa', N'thuc', 2)
INSERT [dbo].[users] ([id], [email], [enabled], [full_name], [password], [username], [role_id]) VALUES (9, N'geroolyhuicy@gmail.com', 1, N'Super Admin', N'$2a$10$iXAux3ePu9txUhpixtPQ.eSg2YlZOCr.iGyyOVcCiFehLJnjAVVOi', N'admin', 2)
INSERT [dbo].[users] ([id], [email], [enabled], [full_name], [password], [username], [role_id]) VALUES (10, N'24110349@student.hcmute.edu.vn', 1, N'Nguyen Trong Thuc ', N'$2a$10$P2HZQ5LjCZ.PD0MZqU8H5uSAS1EdeSiO5RdHYhTFRFTquCSiXdE0m', N'minh', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_otp_email_type]    Script Date: 9/22/2026 12:34:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_otp_email_type] ON [dbo].[otp_tokens]
(
	[email] ASC,
	[type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_products_name]    Script Date: 9/22/2026 12:34:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_products_name] ON [dbo].[products]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 9/22/2026 12:34:51 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 9/22/2026 12:34:51 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_email]    Script Date: 9/22/2026 12:34:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_username]    Script Date: 9/22/2026 12:34:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_users_username] ON [dbo].[users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKdb050tk37qryv15hd932626th] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKdb050tk37qryv15hd932626th]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKp56c1712k691lhsyewcssf40f] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKp56c1712k691lhsyewcssf40f]
GO
USE [master]
GO
